:root {

  ---primary: #118ab2;
  ---secondary: #ad62aa;
  ---ghost: #ededed;
  ---accent: #e3e9eb;
  ---font: normal 400 15px "Roboto", serif;

  ---white: white;
  ---textColor: rgb(74, 73, 73);

  ---hero-bg: rgb(235, 244, 247);
  ---shippingColor: green;
  ---priceColor: red;
  ---btnColor: #6f71d3;
  ---headerColor: rgb(234, 240, 242);
  ---border: rgb(74, 73, 73);


  ---spacing-0: 0.5px;
  ---spacing-1: 1px;
  ---spacing-2: 2px;
  ---spacing-3: 3px;

  ---shadow-1: 0 5px 5px rgba(0, 0, 0, 0.2);
  ---shadow-2: 0 0px 5px rgba(0, 0, 0, 0.2);
  ---shadow-3: 0 5px 5px rgba(0, 0, 0, 0.5);
  ---shadow-4: 0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  ---fontSize-1: 1rem;
  ---fontSize-2: 2rem;
  ---fontSize-3: 3rem;
  ---fontSize-4: 4rem;

  ---c-gap-1: 1rem;
  ---c-gap-2: 2rem;

  --r-gap-1: 1rem;
  --r-gap-2: 2rem;


  ---padding-1: 2px;
  ---padding-2: 5px;
  ---padding-3: 10px;
  ---padding-4: 20px;



  /*
#585cc7;
*/
  ---maxWidth-1: 95vw;
  ---maxWidth-2: 90vw;
  ---maxWidth-3: 85vw;
  ---maxWidth-4: 80vw;

}



html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font: var(---font);
}

a {
  text-decoration: none;
}